.crystal {
    height: 175px;
    width: 175px;
}


html, body {
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
}



body {
    background-image: url(../images/crystalbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

h1 {
    font-family: 'Modak', cursive;
    margin-left: 5%;
    font-size: 80px;
}

h3 {
    margin-left: 7%;
}

h3, p {
    font-weight: bold;
}

#sum {    font-family: 'Open Sans Condensed', sans-serif;

    font-size: larger;
}

#win {
    font-family: 'Permanent Marker', cursive;

    color: rgb(90, 197, 90);
    font-style: italic;
    font-size: large;
    background-image: linear-gradient(to right, rgb(33, 62, 66), rgba(255, 255, 0, 0));

}

#loss {
    font-family: 'Permanent Marker', cursive;

    color: rgb(255, 184, 184);
    font-style: italic;
    font-size: large;
    background-image: linear-gradient(to right, rgb(33, 62, 66), rgba(255, 255, 0, 0));
}