.crystal {
    height: 200px;
    width: 200px;
}

body {
    background-image: url(C:/Users/clary/Desktop/BootcampFall2019/unit-4-game/unit-4-game/assets/images/crystalbackground.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: scroll;
}